<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"/>
<head th:replace="fragments :: head"></head>
<body class="container">

    <header th:replace="fragments :: header"></header>
    <h1>To enter a new job, please fill out the following:</h1>
    <form method="post" th:action="@{/add}">
        <div class="form-group">
            <label th:for="jobTitle">Job Title
                <input type="text" class="form-control" th:field="*{job.jobTitle}"/>
                <div class="has-error" th:errors="*{job.jobTitle}"></div>
            </label>
        </div>
        <div class="form-group">
            <label th:for="salary">Salary
                <input type="number" class="form-control" th:field="*{job.salary}"/>
                <div class="has-error" th:errors="*{job.salary}"></div>
            </label>
        </div>
        <div class="form-group">
            <label th:for="location">Location
                <input type="text" class="form-control" th:field="*{job.location}"/>
                <div class="has-error" th:errors="*{job.location}"></div>
            </label>
        </div>
        <div class="form-group">
            <label th:for="company">Company
                <input type="text" class="form-control" th:field="*{job.company}"/>
                <div class="has-error" th:errors="*{job.company}"></div>
            </label>
        </div>
        <div class="form-group">
            <label th:for="cultures">Please select up to 3 Cultural Touchstones:
                <br>
                <th:block th:each="culture : *{cultures}">
                    <input type="checkbox" name="cultures" th:value="*{culture.id}">
                    <label th:text="*{culture.descriptor}"></label>
                </th:block>
                <br>
                <a th:href="@{'/add/culture'}">Add New Cultural Touchstone</a>
            </label>
        </div>

        <div class="form-group">
            <label th:for="identities">
                <th:block th:each="identity : *{identities}">
                    <input type="checkbox" name="identities" th:id="*{identity.key}" th:value="*{identity.value}">
                    <label th:for="*{identity.key}" th:text="*{identity.value}"></label>
                </th:block>
            </label>
        </div>
<!--        <div class="form-group">-->
<!--            <label th:for="identities">Please share with us how your identified when at this job:-->
<!--                <br>-->
<!--                <th:block th:each="identity : *{identities}">-->
<!--                    <label>Gender:-->
<!--                        <input type="checkbox" name="identities" th:value="*{identity.id}">-->
<!--                        <label th:text="*{identity.gender}"></label>-->
<!--                    </label><br>-->
<!--                    <label>Would you describe yourself as transgender?-->
<!--                        <input type="checkbox" name="identities" th:value="*{identity.id}">-->
<!--                        <label th:text="*{identity.transgender}"></label>-->
<!--                    </label><br>-->
<!--                    <label>Which of the following best describes your sexual orientation?-->
<!--                        <input type="checkbox" name="identities" th:value="*{identity.id}">-->
<!--                        <label th:text="*{identity.sexualOrientation}"></label>-->
<!--                    </label><br>-->
<!--                    <label>Age Range:-->
<!--                        <input type="checkbox" name="identities" th:value="*{identity.id}">-->
<!--                        <label th:text="*{identity.ageRange}"></label>-->
<!--                    </label><br>-->
<!--                    <label>Which categories best describe your ethnicity?-->
<!--                        <input type="checkbox" name="identities" th:value="*{identity.id}">-->
<!--                        <label th:text="*{identity.ethnicity}"></label>-->
<!--                    </label><br>-->
<!--                    <label>Which of the following have been diagnosed?-->
<!--                        <input type="checkbox" name="identities" th:value="*{identity.id}">-->
<!--                        <label th:text="*{identity.abilityStatus}"></label>-->
<!--                    </label>-->
<!--                </th:block>-->
<!--            </label>-->
<!--            <br>-->
<!--            <a th:href="@{'/add/identity'}">Add New Identity Marker</a>-->
<!--        </div>-->

        <div class="form-group">
            <button type="submit" class="btn btn-success" value="Add Job">Add My Job</button>
        </div>
    </form>
</body>
</html>