<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" />

<head th:fragment="head">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>LiftOff Project</title>
</head>
<body>
<!--todo create fragment for forms?-->
<!--    <form th:fragment="forms"></form>-->

<header th:fragment="header">
    <nav class="navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar" sec:authorize="isAuthenticated()">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}">Home</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post" name="logout"></form>
                    <a class="nav-link" href="#" onclick="document.logout.submit()"><i class="fas fa-sign-out-alt"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div th:fragment="messages" class="container-fluid">
    <div th:if="${message != null}"
         th:with="parts=${#strings.arraySplit(message, '|')}"
         th:attr="class=${'alert alert-dismissible alert-' + parts[0]}"
         role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div th:text="${parts[1]}"></div>
    </div>
</div>

</body>
</html>