<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"/>
<head th:replace="fragments :: head"></head>
<body class="container">
    <h1>Don't have a Username?</h1>
    <p><a href="/register">Sign Up Here.</a></p>
    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <label th:for="username"> Username:
                <input type="text" class="form-control"/>
            </label>
        </div>
        <div class="form-group">
            <label th:for="password"> Password:
                <input type="password" class="form-control"/>
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Sign In" class="btn btn-success"/>
        </div>
    </form>
</body>
</html>