<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"/>
<head th:replace="fragments :: head"></head>
<body>
<!--    <header th:replace="fragments :: header"></header>-->
    <h1>What would you like to do?</h1>
    <div class>
        <a href="/search">
            <button class="btn btn-success">Start a Search</button>
        </a>
        <a href="/add">
            <button class="btn btn-success">Enter New Job</button>
        </a>
        <a href="/profile/myjobs">
            <button class="btn btn-success">See My Jobs</button>
        </a>
    </div>
</body>
</html>