<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <header th:replace="fragments :: header"></header>

    <form th:action="@{/search/result}" method="post">
        <h2>To start a new search, please fill out the following:</h2>

        <p>
            <label th:for="searchValue">Keyword:</label>
            <input type="text" name="searchValue" id="searchValue" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <div class="table-striped">
        <table class="table">
            <tr th:each="job : ${jobs}">
                <td>
                    <p th:text="${'Job Title: ' + job.jobTitle}"></p>
                    <p th:text="${'Employer: ' + job.company}"></p>
                    <p th:text="${'Location: ' + job.location}"></p>
                    <p th:text="${'Salary: ' + job.salary}"></p>
                </td>
                <td th:each="culture : ${job.cultures}">
                    <p th:text="${'Cultural Touchstone: ' + culture.descriptor}"></p>
                </td>
                <td th:each="identity : ${job.identities}">
                    <p th:text="${'Gender: ' + identity.gender}"></p>
                    <p th:text="${'Transgender-Identity: ' + identity.transgender}"></p>
                    <p th:text="${'Sexual Orientation: ' + identity.sexualOrientation}"></p>
                    <p th:text="${'Age Range: ' + identity.ageRange}"></p>
                    <p th:text="${'Ethnicity: ' + identity.ethnicity}"></p>
                    <p th:text="${'Ability Status: : ' + identity.abilityStatus}"></p>
                </td>
        </table>
    </div>

    <hr />

    <a href="/view">
        <button class="btn btn-success">View All Jobs</button>
    </a>
</body>
</html>