<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"/>
<head th:replace="fragments :: head"></head>
<body>
    <header th:replace="fragments :: header"></header>

    <h1>To start a new search, please fill out the following:</h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />


    <table class="job-listing">
        <tr th:each="job : ${jobs}">
            <td>
                <p>
                    Job Id:
                    <a th:href="@{'/view/' + ${job.id}}" th:text="${job.id}"></a>
                </p>
                <p th:text="${'Name: ' + job.jobTitle}"></p>
                <p>
                    Company:
                    <a th:href="@{'/view/' + ${job.company.id}}" th:text="${job.company}"></a>
                </p>
                <p>
                    Culture:
                <ul th:each="culture : ${job.cultures}">
                    <li>
                        <a th:href="@{'/view/' + ${culture.id}}" th:text="${culture.descriptor}"></a>
                    </li>
                </ul>
                </p>
                <p>
                    Identity:
                <ul th:each="identity : ${job.identities}">
                    <li>
                        <a th:href="@{'/view/ + ${identity.id}}" th:text="${identity.gender}"></a>
                    </li>
               </ul>
                </p>

            </td>
        </tr>
    </table>


    <a href="/view">
        <button class="btn btn-success">View All Jobs</button>
    </a>

</body>
</html>