<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"/>
<head th:replace="fragments :: head"></head>
<body>

    <header th:replace="fragments :: header"></header>

    <div class="table-striped">
        <table class="table">
            <tr th:each="job : ${jobs}">
                <td>
                    <p th:text="${'Job Title: ' + job.jobTitle}"></p>
                    <p th:text="${'Employer: ' + job.company}"></p>
                    <p th:text="${'Location: ' + job.location}"></p>
                    <p th:text="${'Salary: ' + job.salary}"></p>
<!--                    <th:block th:each="culture : ${job.cultures}">-->
<!--                        <p th:text="${culture.descriptor}"></p>-->
<!--                    </th:block>-->
                </td>
                <td th:each="culture : ${job.cultures}">
                    <p th:text="${'Cultural Touchstone: ' + culture.descriptor}"></p>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>