<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"/>
<head th:replace="fragments :: head"></head>
<body class="container">
<!--todo: consider using th:errorClass when css created for each div, style error messages-->
<!--    if "errors" does not work add th:if (fields.hasErrors)-->
<form method="post" th:action="@{/login/register}" th:objects="${userDTO}">
        <div class="form-group">
            <label>Username
                <input type="text" name="username" class="form-control" th:value="*{username}"/>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="has-error"></>
            </label>
        </div>
        <div class="form-group">
            <label>Password</label>
                <input type="password" name="password" class="form-control" th:value="*{password}"/>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid"></>
            </label>
        </div>
        <div class="form-group">
            <label>Please Re-enter Your Password</label>
                <input type="password" name="passwordMatch" class="form-control" th:value="*{passwordMatch}"/>
                <div th:if="${#fields.hasErrors('passwordMatch')}" th:errors="*{passwordMatch}" class="invalid"></>
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Create My Account</button>
        </div>
    </form>
</body>
</html>